:root {
  --bg: hsl(30, 26%, 7%);
  --bg-card: hsl(30, 12%, 76%);
  --text-color: hsl(30, 26%, 7%);
}

body {
  font-family: arial, sans-serif;
  padding: 0px 20px;
  background-color: var(--bg);
  color: var(--text-color);
}

section {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container {
  background-color: var(--bg-card);
  height: 266.66px;
  padding: 0px 0px 0px 40px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  margin: auto;
}

/* THEME */

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 29px;
  background-color: var(--bg);
  border-radius: 100px;
  position: relative;
  padding: 2px;
}

label::after {
  content: "";
  position: absolute;
  top: 2.95px;
  left: 4.95px;
  width: 15px;
  height: 15px;
  background-color: var(--bg-card);
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label::after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active::after {
  width: 50px;
}

/* ---- */

.text {
  max-width: 400px;
}

img {
  border-radius: 0 8px 8px 0;
  margin-left: 50px;
}

@media (max-width: 880px) {
  .container {
    padding: 0px 0px 0px 30px;
    height: 230px;
  }

  img {
    border-radius: 0 8px 8px 0;
    margin-left: 30px;
    width: 345px;
  }

  p {
    margin-top: -16px;
  }
  h1 {
    margin-top: 35px;
  }

  label {
    top: 18px;
  }
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 0;
  }

  img {
    border-radius: 0px 0px 8px 8px;
    margin-left: 30px;
    width: 270px;
    margin: 0;
  }

  .text {
    max-width: 240px;
  }

  body {
    padding: 0px 2px;
  }
}
